<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="mostrarMenu()">
      <ion-icon slot="start" name="menu-outline"></ion-icon>
     </ion-button>
  </ion-buttons>
  <icon-card>
    <img src="assets/logo.png" class="ion-padding" class="logo">
  </icon-card>
</ion-toolbar>
    


<ion-content>
  <icon-card>
    <img src="assets/Camara.JPG" class="ion-padding">
  </icon-card>


  <ion-button 
  expand="block" 
  class="ion-margin" 
  routerLink="/agregar-alumnos">
  Registrar Alumno
</ion-button>


</ion-content>
