  <ion-toolbar class="toolbar" >
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <icon-card>
      <img src="assets/logo.png" class="ion-padding" class="logo">
    </icon-card>
  </ion-toolbar>

<ion-content>

  <ion-card class="background">
    <ion-card-header>
    </ion-card-header>
    <icon-card>
      <img src="assets/duoc.JPG" class="ion-padding">
      
    </icon-card>
  
    <ion-card-content>
        <ion-title class="center">RegistrApp</ion-title>
    </ion-card-content>
  </ion-card>

 <br>


</ion-content>


