.center{
    display: grid;
    place-content: center;

}
.logo{
    margin-top: 7%;
    margin-left: 74%;
    height: 100%;
    width: 20%;
}
.boton{
    margin-top: 8%;
    margin-left: 60%;
    color: white;
    background-color: orange;
    border: 1px solid;
    border-radius: 10px; 
}
.toolbar{
    background-color: orange;
    
}
.background{
    background-color: white;
}
.bot{
    background-color: white;
    color: gray;
    border-radius: 10px; 
}