<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="mostrarMenu()">
      <ion-icon slot="start" name="menu-outline"></ion-icon>
     </ion-button>
  </ion-buttons>
  <icon-card>
    <img src="assets/logo.png" class="ion-padding" class="logo">
  </icon-card>
</ion-toolbar>
    

<ion-content>

  <ion-card>
    <ion-card-header>

      <ion-card-title>Se ha Registrado Correctamente</ion-card-title>
    </ion-card-header>

    

    <ion-card-content>
      <p class="parrafo">
        Ya puedes iniciar sesión con tu correo constitucional y contraseña
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
